body {
  background-color: #ebe9ea;
  font-family: 'Lato', sans-serif;
}

#wrapper {
  margin-top: 30px;
  margin-left: 170px;
  margin-right: 170px;
  height: auto;
}

#wrapper .column {
  float: left;
}

#left {
  width: 30%;
  background-color: #e8d1c0;
  padding: 10px;
}

#right {
  left: 30%;
  width: 70%;
  height: 100%;
  padding: 10px;
}

.name {
  margin: 10px;
  font-size: 30px;
  color: #656667;
}

.avatar {
  margin-bottom: 10px;
}

.header {
  background-color: #dfd4cf;
  border-radius: 5px;
  border: 2px solid;
  font-size: 20px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: #656667;
  margin-bottom: 5px;
}

.contact-label {
  margin: 5px;
  font-size: 15px;
  color: #656667;
}

a {
  color: #656667;
}

a:hover {
  color:black;
}

.article {
  padding: 10px;
  width: 100%;
}

.date {
  font-size: 17px;
  font-style: italic;
  color: #76665f;
  margin-bottom: 5px;
}
